div.container {
    background-color: #282726;
    color: #fff;
    padding-inline: 12px;
    min-height: 100%;
}


@media (max-width: 576px) {
    div.container * {
        max-width: 100%;
    }
}

.sr-only:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip-path: inset(50%);
    white-space: nowrap;
    overflow: hidden;
}

.container main {
    padding-block: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100%;
}

.container main header.main-header {
    margin-bottom: 15px;
    text-align: center;
}
.container main header.main-header h1 {
    font-size: clamp(1.75rem, 4vw, 2rem);
    margin-bottom: 15px;
}

.container main header.main-header p {
    color: #8E8E8E;
    font-size: clamp(1rem, 2.5vw, 1.15rem);
    line-height: 1.6;
    max-width: 100%;
    width: 550px;
    white-space: wrap;
}

main section.status {
    margin-block: 15px;
    background-color: transparent;
    max-width: 100%;
    width: 550px;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    min-height: 60px;
}

main section.status.removed {
    background-color: #7A5EA7;
}
main section.status.loss {
    background-color: #BA2A2A;
}
main section.status.win {
    background-color: #10A95B;
}

main section.status h2 {
    margin-bottom: 8px;
    min-height: 31px;
    font-size: clamp(1.50rem, 3.5vw, 1.75rem);
}

main section.status p.visible {
    white-space: nowrap;
    display: block;
    font-size: clamp(1rem, 2.5vw, 1.15rem);
}
main section.status p.invisible {
    display: none;
}


main section.languages {
    display: flex;
    justify-content: center;
}

main section.languages p {
    max-width: 100%;
    width: 430px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

main section.languages p span {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30px;
}


main section.languages p span.removed::before { 
    content: "";
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #282726;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
}

main section.languages p span.removed::after {
    content: '\f714';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

main section.languages p span:nth-of-type(6) {
    text-transform: unset;
}

main section.languages p span:nth-of-type(-n+2) {
    text-transform: uppercase;
}

main section.words {
    margin-block: 25px;
}

main section.words p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

main section.words p span {
    padding: 6px;
    background-color: #323232;
    color: #F9F4DA;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    text-align: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    font-size: 18px;
    font-weight: 700;
}

main section.words p span.span-invalid {
    color: #EC5D49;
}
main section.words p span.span-valid {
    color: #F9F4DA;
}

section.buttons {
    margin-block: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 25px;
}
section.buttons div.btns-container {
    max-width: 100%;
    width: 480px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

section.buttons div.btns-container button {
    font-family: "Hanken Grotesk", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    background-color: rgb(252, 186, 41);
    border-radius: 4px;
    padding: 6px;
    color: #1E1E1E;
    border: 1px solid #D7D7D7;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
}
section.buttons div.btns-container button:hover:not(:disabled) {
    background-color: rgba(252, 186, 41, 0.8);
}

section.buttons div.btns-container button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

section.buttons div.btns-container + button { 
    font-family: "Hanken Grotesk", sans-serif;
    cursor: pointer;
    width: 228px;
    height: 40px;
    background-color: rgb(17, 181, 229);
    border-radius: 4px;
    padding: 6px;
    color: #1E1E1E;
    border: 1px solid #D7D7D7;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
}

section.buttons div.btns-container + button:hover {  
    background-color: rgba(17, 181, 229, 0.8);
}


section.buttons div.btns-container button.btn-valid {
    background-color: #10A95B;
}

section.buttons div.btns-container button.btn-valid:hover { 
    background-color: #10A95B;
}
section.buttons div.btns-container button.btn-not-valid {
    background-color:#EC5D49;
}

section.buttons div.btns-container button.btn-not-valid:hover {
    background-color: #EC5D49;
}