*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
}

html, 
body, 
div#root {
    width: 100%;
    height: 100%;
}